/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Economica:400,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/jetbrains-mono@3.2.1/css/jetbrains-mono.css");
* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  color: #38352d;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  /* Position the heading in the first row */
  grid-row: 1;
  margin-bottom: 1rem;
}

input[type=text] {
  border: none;
  border-radius: 0.25rem;
  color: #38352d;
  font-family: "JetBrains Mono Light", monospace;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  padding: 0.5rem;
}

button[type=submit] {
  background-color: #d35d39;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

form {
  align-items: center; /* Position the message form in the third row */
  display: grid;
  grid-gap: 0.5rem; /* Define the columns for the message form */
  grid-row: 3;
  grid-template-columns: auto 1fr auto;
}

label {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

/* IDs */
#chatHistory {
  grid-row: 2; /* Position the chat history in the second row */
  list-style: none;
  margin-top: 1rem;
  max-height: calc(100vh - 4.5rem);
  overflow-y: auto;
}
#chatHistory li {
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  display: inline-block;
  font-family: "Economica", sans-serif;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
#chatHistory li:nth-child(even) {
  background-color: #e0e0e0;
}
#chatHistory li:last-child {
  margin-bottom: 0;
}

#chatHistory li {
  background-color: #231815 !important;
  color: #f8f8f2;
}
#chatHistory li:nth-child(even) {
  background-color: #f8f9fa;
}
#chatHistory li:last-child {
  margin-bottom: 0;
}

#chatContainer {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#chatContainer .animation-container {
  height: clamp(50vh, 70vmin, 75vh);
  overflow: hidden;
  position: relative;
  width: 100%;
}
#chatContainer .animation-container:before {
  content: "";
  display: none;
}
#chatContainer .animation-container.night:after {
  animation: moon-animation 10s linear infinite;
  background-color: #231815;
  border-radius: 50%;
  content: "";
  display: block;
  height: clamp(10vw, 20vmin, 100px);
  left: max(-10vw, min(-20vmin, -100px));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(10vw, 20vmin, 100px);
}
#chatContainer .animation-container.night #chatHistory li {
  color: #38352d;
  background-color: #f8f9fa;
}
#chatContainer .animation-container.night #messageInput,
#chatContainer .animation-container.night button[type=submit] {
  background-color: #ff79c6;
  color: #f8f8f2;
}
#chatContainer .animation-container:after {
  animation-name: sun-animation;
  background-color: #d35d39;
  border-radius: 50%;
  content: "";
  display: block;
  height: clamp(10vw, 20vmin, 100px);
  left: max(-10vw, min(-20vmin, -100px));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(10vw, 20vmin, 100px);
}

/* Keyframes */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moon-animation {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes sun-animation {
  from {
    left: max(-10vw, min(-20vmin, -100px));
    transform: translateY(-50%) rotate(180deg);
  }
  to {
    left: 110%;
    transform: translateY(-50%) rotate(360deg);
  }
}
/* Classes */
.animation-container {
  height: clamp(25vh, 40vmin, 50vh);
  position: relative; /* change height to your desired height */
  width: 100%; /* add a fixed width */
}

.animation-container:after {
  animation-name: sun-animation;
  background-color: #d35d39;
  border-radius: 50%;
  content: ""; /* adjust the position of the sun/moon */
  height: clamp(10vw, 20vmin, 100px);
  left: max(-10vw, min(-20vmin, -100px));
  position: absolute;
  top: 50%; /* add a background color */
  transform: translateY(-50%);
  width: clamp(10vw, 20vmin, 100px);
}

.animation-container.night:after {
  background-color: #ff79c6;
}

.animation-container.day:after {
  background-color: #d35d39;
}

@media (min-width: 768px) {
  #chatContainer {
    border-radius: 1rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 0 auto;
    max-width: 1024px;
    overflow: hidden;
  }
  #chatContainer .animation-container {
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #chatContainer .animation-container:before {
    background-image: radial-gradient(#f8f9fa 40%, transparent 60%);
    content: "";
    height: 260%;
    left: -130%;
    position: absolute;
    top: -130%;
    width: 260%;
    z-index: -1;
  }
  #chatContainer .animation-container:after {
    top: 10%;
    left: max(-5vw, min(-10vmin, -50px));
    animation-name: sun-animation-desktop;
  }
  @keyframes sun-animation-desktop {
    from {
      left: clamp(25vw, 40vmin, 200px);
    }
    to {
      left: 110%;
    }
  }
  #chatHistory li {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
  label {
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
}

/*# sourceMappingURL=app.css.map */
