@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Economica:400,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/jetbrains-mono@3.2.1/css/jetbrains-mono.css');

// Variables
$color-primary: #231815;
$color-secondary: #d35d39;
$color-background: #f8f9fa;
$color-text: #38352d;

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem; /* Position the heading in the first row */
  grid-row: 1;
  margin-bottom: 1rem;
}


input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: $color-text;
  font-family: 'JetBrains Mono Light', monospace;
  font-size: 1.1rem;
  padding: 0.5rem;
}

button[type="submit"] {
  background-color: $color-secondary;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($color-secondary, 5%);
  }
}

form {
  align-items: center; /* Position the message form in the third row */
  display: grid;
  grid-gap: 0.5rem; /* Define the columns for the message form */
  grid-row: 3;
  grid-template-columns: auto 1fr auto;
}

label {
  font-size: 1.1rem;
}

/**IDS*/
#chatHistory {
  grid-row: 2; /* Position the chat history in the second row */
  list-style: none;
  margin-top: 1rem;
  max-height: 400px;
  overflow-y: auto;
}

#chatHistory li {
  animation: fadein 0.5s;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  display: inline-block;
  font-family: 'Economica', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  &:nth-child(even) {
    background-color: #e0e0e0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Chat styles
#chatContainer {
  background-color: white;
  border-radius: 0.5rem; /* Define the rows for the chat container */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

