/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Economica:400,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/jetbrains-mono@3.2.1/css/jetbrains-mono.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #38352d;
  background-color: #f8f9fa;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  grid-row: 1; /* Position the heading in the first row */
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input[type=text] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  font-family: "JetBrains Mono Light", monospace;
  font-size: 1.1rem;
  color: #38352d;
}

button[type=submit] {
  background-color: #d35d39;
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
button[type=submit]:hover {
  background-color: #c6502c;
}

form {
  grid-row: 3; /* Position the message form in the third row */
  display: grid;
  grid-template-columns: auto 1fr auto; /* Define the columns for the message form */
  grid-gap: 0.5rem;
  align-items: center;
}

label {
  font-size: 1.1rem;
}

/* IDs */
#chatHistory {
  grid-row: 2; /* Position the chat history in the second row */
  list-style: none;
  margin-top: 1rem;
  max-height: calc(100vh - 4.5rem);
  overflow-y: auto;
}
#chatHistory li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  font-family: "Economica", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
}
#chatHistory li:nth-child(even) {
  background-color: #e0e0e0;
}
#chatHistory li:last-child {
  margin-bottom: 0;
}

#chatHistory li {
  color: #f8f8f2;
  background-color: #21222c !important;
}
#chatHistory li:nth-child(even) {
  background-color: #f8f9fa;
}
#chatHistory li:last-child {
  margin-bottom: 0;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4rem);
  background-color: #f8f9fa;
}
#chatContainer .animation-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#chatContainer .animation-container:before {
  content: "";
  display: none;
}
#chatContainer .animation-container.night:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: moon-animation 10s linear infinite;
  background-color: #21222c;
}
#chatContainer .animation-container.night #chatHistory li {
  color: #f8f8f2;
  background-color: #21222c !important;
}
#chatContainer .animation-container.night #messageInput,
#chatContainer .animation-container.night button[type=submit] {
  background-color: #ff79c6;
  color: #f8f8f2;
}
#chatContainer .animation-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background-color: #d35d39;
  border-radius: 50%;
  animation-name: sun-animation;
}

/* Keyframes */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moon-animation {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes sun-animation {
  from {
    left: -100px;
    transform: translateY(-50%) rotate(180deg);
  }
  to {
    left: 110%;
    transform: translateY(-50%) rotate(360deg);
  }
}
/* Classes */
.animation-container {
  position: relative;
  height: 200px; /* change height to your desired height */
  width: 100%; /* add a fixed width */
}

.animation-container:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px; /* adjust the position of the sun/moon */
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background-color: yellow; /* add a background color */
  border-radius: 50%;
  animation-name: sun-animation;
}

.animation-container.night:after {
  background-color: #ff79c6;
}

.animation-container.day:after {
  background-color: #d35d39;
}

@media (min-width: 768px) {
  /* Desktop Styles */
  #chatContainer {
    height: auto;
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
  }
  #chatContainer .animation-container {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #chatContainer .animation-container:before {
    content: "";
    position: absolute;
    top: -130%;
    left: -130%;
    width: 260%;
    height: 260%;
    background-image: radial-gradient(#f8f9fa 40%, transparent 60%);
    z-index: -1;
  }
  #chatContainer .animation-container:after {
    top: 10%;
    left: -5%;
    animation-name: sun-animation-desktop;
  }
  @keyframes sun-animation-desktop {
    from {
      left: 25%;
    }
    to {
      left: 110%;
    }
  }
}

/*# sourceMappingURL=app.css.map */
