@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Economica:400,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/jetbrains-mono@3.2.1/css/jetbrains-mono.css');

// Variables
$color-primary: #231815;
$color-secondary: #d35d39;
$color-background: #f8f9fa;
$color-text: #38352d;

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $color-text;
  background-color: $color-background;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  grid-row: 1; /* Position the heading in the first row */
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-family: 'JetBrains Mono Light', monospace;
  font-size: 1.1rem;
  color: $color-text;
}

button[type="submit"] {
  background-color: $color-secondary;
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($color-secondary, 5%);
  }
}

form {
  grid-row: 3; /* Position the message form in the third row */
  display: grid;
  grid-template-columns: auto 1fr auto; /* Define the columns for the message form */
  grid-gap: 0.5rem;
  align-items: center;
}

label {
  font-size: 1.1rem;
}

/**IDS*/
#chatHistory {
  grid-row: 2; /* Position the chat history in the second row */
  list-style: none;
  margin-top: 1rem;
  max-height: 400px;
  overflow-y: auto;
}

#chatHistory li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  font-family: 'Economica', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  display: inline-block;
  animation: fadein 0.5s;

  &:nth-child(even) {
    background-color: #e0e0e0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Chat styles
#chatContainer {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Define the rows for the chat container */
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

