input[type="text"] {
  border: none;
  border-radius: 0.25rem;
  color: #38352d;
  font-family: 'JetBrains Mono Light', monospace;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  padding: 0.5rem;
}

button[type="submit"] {
  background-color: #d35d39;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

form {
  align-items: center; /* Position the message form in the third row */
  display: grid;
  grid-gap: 0.5rem; /* Define the columns for the message form */
  grid-row: 3;
  grid-template-columns: auto 1fr auto;
}

label {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

/** IDs **/

#chatHistory {
  grid-row: 2; /* Position the chat history in the second row */
  list-style: none;
  margin-top: 1rem;
  max-height: calc(100vh - (4rem + .5rem));
  overflow-y: auto;

  li {
    background-color: #f5f5f5;
    border-radius: .25rem;
    display:inline-block;
    font-family: 'Economica', sans-serif;
    font-size :clamp(1rem, 2vw, 1.2rem);
    font-weight: bold;
    margin-bottom: .5rem;
    padding: .5rem;

    &:nth-child(even) {
      background-color:#e0e0e0 ;
    }

    &:last-child {
      margin-bottom:0 ;
    }
  }
}

#chatHistory li {
  background-color: #231815 !important;
  color: #f8f8f2;

  &:nth-child(even) {
    background-color: #f8f9fa;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

#chatContainer {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  .animation-container {
    height: clamp(50vh, 70vmin, 75vh);
    overflow: hidden;
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: none;
    }

    &.night {
      &:after {
        animation: moon-animation 10s linear infinite;
        background-color: #231815;
        border-radius: 50%;
        content: "";
        display: block;
        height: clamp(10vw, 20vmin, 100px);
        left: max(-10vw, min(-20vmin, -100px));
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: clamp(10vw, 20vmin, 100px);
      }

      #chatHistory li {
        color: #38352d;
        background-color: #f8f9fa;
      }

      #messageInput,
      button[type="submit"] {
        background-color: #ff79c6;
        color: #f8f8f2;
      }
    }

    &:after {
      animation-name: sun-animation;
      background-color: #d35d39;
      border-radius: 50%;
      content: "";
      display: block;
      height: clamp(10vw, 20vmin, 100px);
      left: max(-10vw, min(-20vmin, -100px));
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: clamp(10vw, 20vmin, 100px);
    }
  }
}

@media (min-width: 768px) {
  #chatContainer {
    border-radius :1rem;
    box-shadow : 10px 10px 30px rgba(0,0,0,.1);
    height: auto;
    margin: 0 auto;
    max-width: 1024px;
    overflow :hidden;

    .animation-container {
      align-items:center;
      border-top-left-radius :1rem;
      border-top-right-radius :1rem;
      display:flex;
      justify-content:center;
      width :100%;

      &:before {
        background-image : radial-gradient(#f8f9fa 40%, transparent 60%);
        content:'';
        height:260%;
        left:-130%;
        position:absolute;
        top:-130%;
        width:260%;
        z-index :-1;
      }

      &:after {
        top:10%;
        left: max(-5vw, min(-10vmin, -50px));

        animation-name:sun-animation-desktop ;

        @keyframes sun-animation-desktop {
          from { left :clamp(25vw, 40vmin, 200px); }
          to { left :110% ;}
        }
      }
    }
  }

  #chatHistory li {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  label {
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
}