/* Navbar styles */

.navbar-container {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap; /* Display navbar links in a row */
  height: 5rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo {
  width: 30%; /* Set logo width to a percentage value */
}

.logo img {
  max-height: 4rem;
}

.announcements {
  display: none;
}

.nav-links {
  display: flex;
  flex-grow: 1; /* Make links fill remaining space */
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: #38352d;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #d35d39;
}

.submenu {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.submenu li {
  width: 100%;
}

.nav-links li:hover .submenu {
  display: block;
}

.submenu a {
  color: #38352d;
  display: block;
  font-size: 0.8rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.submenu a:hover {
  background-color: #d35d39;
  color: white;
}

.fa {
  margin-right: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0;
  }

  .logo {
    width: 50%; /* Set logo width to a percentage value */
  }

  .nav-links {
    width: 100%;
    justify-content: space-around;
  }

  .nav-links a {
    padding: 0.5rem;
  }
}

.announcements {
  display: flex;
  width: 100%;
}

.announcement {
  animation: roll 10s linear infinite;
}

.nav-links li.active .submenu {
  display: block;
}
@keyframes roll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

